{% extends 'extends/index.html' %}
{% load static%}
{% block content%}
    <section class="site-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-8">
            <h1>Связаться с администрацией</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            
            <form action="#" method="post">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label for="name">Имя</label>
                      <input name="name" type="text" id="name" class="form-control ">
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="phone">Тема</label>
                      <input name="phone" type="text" id="phone" class="form-control ">
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="email">Почта</label>
                      <input name="email" type="email" id="email" class="form-control ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="message">Сообщение</label>
                      <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                    </div>
                  </div>
                {% if messages %}
                        {% for message in messages %}
                        <div role="alert" class="alert {% if message.tags == 'error' %}alert-danger{%else%}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                {% endif %}
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Отправить сообщение" class="btn btn-primary">
                    </div>
                  </div>
                </form>
          </div>
          {% endblock %}