{% extends 'extends/index.html' %}
{% load static%}
{% block content%}
<style>
.heading {
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
</style>
<section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel owl-theme home-slider">
              {% for art in most_views_comments %}
              <div>
                <a href="{% url 'detail-article' art.url %}" class="a-block d-flex align-items-center height-lg" style="background-image: url({{art.picture.url}}); ">
                  <div class="text half-to-full">
                    <div class="post-meta">
                      {% for tag in art.tags.all %}
                      <span class="category">{{tag.name}}</span>
                      {% endfor %}
                      <br>
                      <span class="mr-2">{{art.date}} </span> &bullet;
                      <span class="ml-2"><span class="fa fa-comments"></span> {{art.article_comments.all|length}}</span> &bullet;
                      <span class="mr-2"><span class="fa fa-eye"></span> {{art.views}}</span>
                    </div>
                    <h3>{{art.headline}}</h3>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <h3 class="heading">Самые обсуждаемые статьи</h3>
        <div class="row">
          {% for art in most_comments %}
          <div class="col-md-6 col-lg-4">
            <a href="blog-single.html" class="a-block d-flex align-items-center height-md" style="background-image: url({{art.picture.url}}); ">
              <div class="text">
                <div class="post-meta">
                  {% for tag in art.tags.all %}
                  <span class="category">{{tag.name}}</span>
                  {% endfor %}
                  <br>
                  <span class="mr-2">{{art.date}} </span>
                  <br>
                  <span class="ml-2"><span class="fa fa-comments"></span> {{art.article_comments.all|length}}</span> &bullet;
                  <span class="mr-2"><span class="fa fa-eye"></span> {{art.views}}</span>
                </div>
                <h3>{{art.headline}}</h3>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="site-section py-sm">
      <div class="container">
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="mb-4 heading">Последние статьи</h3>
              </div>

              <div class="col-md-12">
                {% for obj in object_list %}
                <div class="post-entry-horzontal">
                  <a style="width: 100%;" href="{% url 'detail-article' obj.url %}">
                    <div class="image element-animate"  data-animate-effect="fadeIn" style="background-image: url({{obj.picture.url}});"></div>
                    <span class="text">
                      <div class="post-meta">
                        {% for tag in obj.tags.all %}
                        <span class="category">{{tag.name}}</span>
                        {% endfor %}
                        <br>
                        <span class="mr-2">{{obj.date}} </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> {{obj.article_comments.all|length}}</span> &bullet;
                        <span class="mr-2"><span class="fa fa-eye"></span> {{obj.views}}</span>
                      </div>
                      <h2>{{obj.headline}}</h2>
                    </span>
                  </a>
                </div>
                {% endfor %}
                <!-- END post -->
                {% include 'extends/pagination.html'%}
                <!-- END post -->
              </div>
            </div>
          </div>
{% endblock%}